@model ReCountant.Models.D_Phase

@{
	ViewBag.Title = "Create";
}



<script>

	var LoadProjectDDL = function () {

		$.ajax({
			type: "POST",
			cache: false,
			url: "/Phase/LoadProjectDDL",
			processData: false,
			contentType: false,
			success: function (data) {

				var sch = JSON.parse(data);

				var $el = $(".ProjectDDL");
				$el.empty();
				if (sch.length > 0) {
					$el.append($("<option></option>")
						.attr("value", 0).text('Select Project'));
					for (i = 0; i < sch.length; i++) {
						$el.append($("<option></option>")
							.attr("value", sch[i].Id).text(sch[i].Name));
					}
				}
				else {
					$el.append($("<option></option>")
						.attr("value", '').text('Select'));
				}
			}
		});
	}



	var handlevalidation = function () {
		$('.PhaseForm').validate({
			errorElement: 'span', //default input error message container
			errorClass: 'help-block', // default input error message class
			focusInvalid: false, // do not focus the last invalid input
			ignore: "",
			rules: {

				Project_Id: {
					required: true
					
				},
				Phase: {
					required: true

				},
				
				Phase_Code: {
					required: true,
					maxlength: 25
				},

			},

			invalidHandler: function (event, validator) { //display error alert on form submit

			},

			highlight: function (element) { // hightlight error inputs
				$(element)
					.closest('.form-group').addClass('has-error'); // set error class to the control group
			},

			success: function (label) {
				label.closest('.form-group').removeClass('has-error');
				label.remove();
			},



			submitHandler: function (form) {
			
				var ProjectDDL = $('#Project_Id').val();
				if (ProjectDDL == null || ProjectDDL == '' || ProjectDDL == 0) {

					return false;
				}

				$.post(
					"/Phase/Create",
					$(".PhaseForm").serialize(),
					function (value) {
						if (value != "error") {

							window.location = '/Phase/Index';
						}
					}
				);
				return false;
			}
		});

		$('.PhaseForm').keypress(function (e) {
			if (e.which == 13) {
				if ($('.PhaseForm').validate().form()) {
					$('.PhaseForm').submit();
				}
				return false;
			}
		});
		jQuery('#btn-save').click(function () {
			if ($('.PhaseForm').validate().form()) {

				$('.PhaseForm').submit();
			}
		});
	}


	//$(document).on('click', '#btn-save', function () {
		
	//	var data = $(".PhaseForm").serialize();
	//	$.post(
	//		"/Phase/Create",
	//		$(".PhaseForm").serialize(),
	//		function (value) {
	//			if (value != "error") {
					
	//				window.location = '/Phase/Index';
	//			}
	//		}
	//	);
	//});
	
	$(document).ready(function () {

		handlevalidation();
		LoadProjectDDL();
	
		
	});



</script>
<h2>Create</h2>

<div class="form-horizontal">
	<h4>D_Phase</h4>
	<hr />


	<form action="#" class="PhaseForm">
		<div class="col-md-6">

			<div class="form-group">
				<div class="form-group">
					<label>Project <span class="text-danger">*</span></label>
					<select class="form-control ProjectDDL" id="Project_Id" name="Project_Id" required></select>
				</div>
			</div>
			<div class="form-group">
				<div class="form-group">
					<label>Phase <span class="text-danger">*</span></label>
					<input class="form-control text-box single-line" id="Phase" name="Phase"/>
				</div>
			</div>

			<div class="form-group">
				<label>Phase Code <span class="text-danger">*</span></label>
				<input class="form-control text-box single-line" id="Phase_Code" name="Phase_Code" type="text" value="" />
			</div>
		</div>
	</form>


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-info " id="btn-save"><i class="fa fa-save"></i> <span>Create </span></button>
		</div>
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index")
</div>