@{Html.RenderAction("LeftSidePanel", "SideWidget");}
<div id="right-panel" class="right-panel">
    <!-- Header-->
    @{Html.RenderAction("HeaderInfo", "Home");}
    <!-- Header-->
    <div class="content mt-3 main-content">
        <h4>Revenues & Receiveables</h4>
        <hr />
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label for="cc-exp" class="control-label mb-1">Date</label>
                            <input type="text" id="Date" name="Date" readonly class="datepicker form-control cc-exp" data-val-required="Please enter date" data-val-cc-exp="Please enter a valid Date" placeholder="DD / MM / YY">
                            <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="cc-exp" class="control-label mb-1">PO Number</label>
                            <input type="text" id="PO_Number" name="PO_Number" class="form-control cc-exp" data-val-required="Please enter Vocuher No." placeholder="PO Number">
                            <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="cc-exp" class="control-label mb-1">Total Amount</label>
                            <input type="text" id="Total_Amount" name="Total_Amount" class="form-control cc-exp" data-val-required="" placeholder="Total Amount">
                            <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="cc-exp" class="control-label mb-1">Supplier</label>
                            <select id="supplier" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="cc-exp" class="control-label mb-1">Responsibility Center</label>
                            <select id="Responsibiltycenter" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>