@{ 
    Html.RenderAction("LeftSidePanel", "SideWidget");
    Html.RenderAction("RightSidePanel", "SideWidget");
}



@*<a href="/FinancialTransactions/Create/">Financial Transactions</a><br />
<a href="/PlotManagement/Booking/">Booking of Plot</a><br />
<a href="/PlotManagement/ReceiveInstallment/">Receive Installment</a><br />
<a href="/Plot/Create/">Add Plot</a><br />
<a href="/Phase/Create/">Add Phase</a><br />
<a href="/Block/Create/">Add Block</a><br />
<a href="/Projects/Create/">Add Projects</a>*@