




<script>
    function Getblocks(e) {
        $.ajax({
            traditional: true,
            type: "POST",
            data: { id: e },
            url: "/PlotManagement/GetBlocks/",
            success: function (data) {
                $('#block').empty();
                $('#block').append('<option value="">Select Block</option>');
                $.each(data, function (key, value) {
                    $('#block').append('<option value=' + value.Id + '>' + value.Block + '</option>');
                });
            },
            error: function () {

            }
        });
    }
    function Getplot(e) {
        $.ajax({
            traditional: true,
            type: "POST",
            data: { id: e },
            url: "/PlotManagement/GetPlots/",
            success: function (data) {
                $('#plot').empty();
                $('#plot').append('<option value="">Select Plot</option>');
                $.each(data, function (key, value) {
                    $('#plot').append('<option value=' + value.Id + '>' + value.Plot + '</option>');
                });
            },
            error: function () {

            }
        })
    }
    $(document).on('click', '.bookit', function Getplot(e) {
        var instdata = [];
        var data = Array();
        var sum = 0;
        var plotval = parseFloat($('#t_price').text()).toFixed(2)
        var exchange_rate = $("#conversion").val();
        $(".instamt").each(function () {
            sum += parseFloat($(this).text());
        });
        sum = sum * exchange_rate;
        $("#allinst tbody tr").each(function (i, v) {
            var dataarray = {
                Nth_Installment: "", Amount_TC: "", Due_Date: "", Plot_Id: "", Exchange_Rate:"", Currency:"", Amount_LC:"", Exchange_Rate:""
            };
            $(this).children('td').each(function (ii, vv) {
                switch (ii) {
                    case 0:
                        dataarray.Nth_Installment = $(this).text();
                        break;
                    case 1:
                        dataarray.Currency = $(this).text();
                        break;
                    case 2:
                        dataarray.Amount_TC = $(this).text();
                        break;
                    case 3:
                        dataarray.Due_Date = $(this).text();
                        break;
                }
            });
            dataarray.Amount_LC = exchange_rate * dataarray.Amount_TC;
            dataarray.Plot_Id = $("#plot").val();
            dataarray.Exchange_Rate = exchange_rate;
            instdata.push(dataarray);
        });
        if (sum < plotval) {
            alert("Plot installment are less than the Plot Actual Price");
            return;
        }
        var custid = $('#c_Id').val();
        var Customerinfo = {
            Name: $('#c_name').val(),
            CNIC_Number: $('#c_cnic').val(),
            Address: $('#c_address').val(),
            Contact_Number: $('#c_num').val(),
            Gender: $('#c_gender').val(),
            NTN: $('#c_ntn').val(),
            STRN: $('#c_strn').val(),
            Filer_NonFiler: $('#c_filer').val(),
            Industry: $('#c_ind').val(),
            Residential_Status: $('#c_res').val(),
            Business: $('#c_buss').val()
        };
        ;
        var plotinfo = { Plot_Id: $("#plot").val(), Value: $('#t_price').text() };
        var js = JSON.stringify({ inst: instdata, Custid: custid, customer: Customerinfo, Plot: plotinfo });
        $.ajax({
            traditional: true,
            type: "POST",
            data: { data: js },
            url: "/PlotManagement/BookPlot/",
            success: function (data) {
                alert("Plot is Successfully Booked");
            },
            error: function () {

            }
        })
    });
    function Getplotdetails(e) {
        $.ajax({
            traditional: true,
            type: "POST",
            //contentType: "application/json; charset=utf-8",
            data: { id: e },
            url: "/PlotManagement/GetPlotDetails/",
            success: function (data) {
                $('#plotalldetails').show();

                $('#t_phase').text($('#phase option:selected').text());
                $('#t_block').text($('#block option:selected').text());
                $('#t_plot').text(data.Plot);
                $('#t_price').text(data.Value);
                $('#t_area').text(data.Area);
                $('#t_length').text(data.Length);
                $('#t_width').text(data.Width);
                $('#t_front').text(data.Front);
            },
            error: function () {

            }
        })
    }
    function Showbookingopts() {
        $('#bookopts').show();
    }
      function searchcust()
      {
        var cnic = $('#custcnic').val();
        $.ajax({
            type: "POST",
            data: { id: cnic },
            url: "/Home/GetCustomerInfo/",
            success: function (data) {
                if (data == false) {
                    alert("No Customer Found");
                }
                else {
                    $('#c_Id').val(data.Id);
                    $('#c_name').val(data.Name);
                    $('#c_cnic').val(data.CNIC_Number);
                    $('#c_address').val(data.Address);
                    $('#c_num').val(data.Contact_Number);
                    $('#c_gender').val(data.Gender);
                    $('#c_ntn').val(data.NTN);
                    $('#c_strn').val(data.STRN);
                    $('#c_filer').val(data.Filer_NonFiler);
                    $('#c_ind').val(data.Industry);
                    $('#c_res').val(data.Residential_Status);
                    $('#c_buss').val(data.Business);
                }
            },
            error: function () {

            }
        })
      }
</script>


       

            <div class="row" id="">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title1">

                            <h2 class="Slide-Grid-Heading">Search  Plot  </h2>
                            <ul class="nav navbar-right ">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display:none">
                            <br />

                            <div class='col-sm-3'>
                                <label class="control-label">Phase</label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        <div class='input-group'>
                                            @Html.DropDownList("Phase",null, "Select Phase", new { onchange = "Getblocks(this.value)", id = "phase" } )
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <label class="">Block</label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        <select id="block" onchange="Getplot(this.value)" class="form-control">
                                            <option>Select Block</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3'>
                                <label class="">Plot</label>
                                <div class="form-group">
                                    <div class='input-group'>
                                        <select id="plot" onchange="Getplotdetails(this.value)" class="form-control">
                                            <option>Select Plot</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="plotalldetails" style="display:none">
                                <div class="row">
                                    <table class="table table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Phase</th>
                                                <th>Block</th>
                                                <th>Plot No</th>
                                                <th>Price</th>
                                                <th>Area</th>
                                                <th>Length</th>
                                                <th>Width</th>
                                                <th>Front</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="t_phase"></td>
                                                <td id="t_block"></td>
                                                <td id="t_plot"></td>
                                                <td id="t_price"></td>
                                                <td id="t_area"></td>
                                                <td id="t_length"></td>
                                                <td id="t_width"></td>
                                                <td id="t_front"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                    
                                       
                                    
                                <button onclick="Showbookingopts()" class="button-grid-blue">Book This Plot</button>
                            </div>
                            
                            
                            <hr/>
                            <div class="" id="bookopts" style="display:none">
                                <div class="">
                                    <button onclick="searchcust()" class="button-3-for-golden">Search</button>
                                </div>
                                <hr/>
                                <div class="row">
                                    <input type="hidden" id="c_Id" />
                                   
                                        <h2>Customer Information</h2>
                                    
                                    <div class='col-sm-3'>
                                        <label>CINC <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="custcnic" class="form-control" placeholder="Enter CNIC"/>
                                            </div>
                                        </div>
                                    </div>
                                            
                                            
                                    <div class='col-sm-3'>
                                        <label>Name</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_name" class="form-control" readonly />
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>CNIC</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_cnic" class="form-control" readonly/>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Address</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_address"  class="form-control" readonly/>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Phone</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_num" class="form-control" readonly />
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Gender</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <select id="c_gender" class="form-control" >
                                                    <option  value="male">Male</option>
                                                    <option  value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>NTN</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_ntn" class="form-control"readonly />
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>STRN</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_strn" class="form-control" readonly/>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Filer</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <select id="c_filer" class="form-control">
                                                    <option value="filer">Filer</option>
                                                    <option value="nonfiler">Non Filer</option>
                                                </select>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Industry</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_ind" class="form-control" readonly/>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Resident</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <select id="c_res" class="form-control">
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='col-sm-3'>
                                        <label>Business</label>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type="text" id="c_buss" class="form-control" readonly/>
                                            </div>
                                        </div>

                                    </div>
                                    <hr/>
                                    <hr />
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <label>Total Number</label>
                                                <input type="radio" name="instaltype" id="number" value="1" />
                                                <div class="form-group">
                                                    <div class='input-group'>
                                                        <input type="text" id="totnum" style="display:none" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                                    <div class="col-lg-3">
                                                        <label>By Year</label>
                                                        <input type="radio" id="year" name="instaltype" value="2" />
                                                        <div class="form-group">
                                                            <div class='input-group'>
                                                                <input type="text" id="byyear" style="display:none" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 ">
                                                        <label>Development Charges</label>
                                                        <div class="form-group">
                                                            <div class='input-group'>
                                                                <select class="form-control">
                                                                    <option value="1">With Installments</option>
                                                                    <option value="2">Seperate</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 ">
                                                        <label>Currency</label>
                                                        <div class="form-group">
                                                            <div class='input-group'>
                                                                <select id="curency" onchange="checkcur(this.value)" class="form-control">
                                                                    <option value="PKR">PKR</option>
                                                                    <option value="USD">USD</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-lg-3' id="exch" style="display:none">
                                                        <div class="col-4">Exchange Rate</div>
                                                        <div class="col-8">
                                                            <input type="text" value="1" id="conversion" />
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                <div>
                                    <button class="creatinst button-grid-blue">Generate Installments</button>
                                </div>
                                <hr />
                            <div id="allinst" style="display:none">
                                <h4>Installments</h4>
                                <div class="row">
                                    <table class="table table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Installment No.</th>
                                                <th>Currency</th>
                                                <th>Amount</th>
                                                <th>Due Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="">
                                    <button class="bookit button-grid-blue">Book This Plot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
            <script>
                function checkcur(e) {
                    if (e == "USD") {
                        $("#exch").show();
                    }
                }
                $(document).on('click', '.creatinst', function () {
                    $('#allinst').show();
                    $('#allinst tbody').empty();
                    var currency = $('#curency').val();
                    var exchangerate = $("#conversion").val();
                    var val = $('input[name=instaltype]:checked').val();
                    if (val == 1) {
                        var totnum = $('#totnum').val();
                        var price = parseFloat($('#t_price').text());
                        var eachinst = parseFloat((price / totnum) / exchangerate).toFixed(1);
                        var date = new Date();
                        date.setDate(1);
                        var i = 1;
                        for (i; i <= totnum; i++) {
                            date.setMonth(date.getMonth() + 1);
                            var curr_date = date.getDate();
                            var curr_month = date.getMonth() + 1; //Months are zero based
                            var curr_year = date.getFullYear();
                            var html = '<tr>' +
                                '<td>' + i + '</td>' +
                                '<td>' + currency + '</td>' +
                                '<td class="instamt">' + eachinst + ' </td > ' +
                                '<td>' + curr_date + '-' + curr_month + '-' + curr_year + '</td > ' +
                                '</tr>';
                            $('#allinst tbody').append(html);
                        }
                    }
                    else {
                        var totyear = $('#byyear').val();
                        var totnum = totyear * 12;
                        var price = parseFloat($('#t_price').text());
                        var eachinst = parseFloat((price / totnum) / exchangerate).toFixed(1);
                        var date = new Date();
                        date.setDate(1);
                        var i = 1;
                        for (i; i <= totnum; i++) {
                            date.setMonth(date.getMonth() + 1);
                            var curr_date = date.getDate();
                            var curr_month = date.getMonth() + 1; //Months are zero based
                            var curr_year = date.getFullYear();
                            var html = '<tr>' +
                                '<td>' + i + '</td>' +
                                '<td>' + currency + '</td>' +
                                '<td class="instamt">' + eachinst + ' </td > ' +
                                '<td>' + curr_date + '-' + curr_month + '-' + curr_year + '</td > ' +
                                '</tr>';
                            $('#allinst tbody').append(html);
                        }
                    }
                });
                $(document).on('click', '.instamt', function () {
                    var amt = $(this).text();
                    $(this).removeClass('instamt');
                    var html = '<input id="newisnt" type="text" value="' + amt + '" />'
                    $(this).html(html);
                    $('#newisnt').focus();
                });
                $(document).on('blur', '#newisnt', function () {
                    var amt = $(this).val();
                    $(this).parent().text(amt);
                    $(this).parent().addClass('instamt');

                });
                $('input[name="instaltype"]').click(function () {
                    if ($(this).val() == 1) {
                        $('#byyear').hide();
                        $('#totnum').show();
                    }

                    else if ($(this).val() == 2) {
                        $('#totnum').hide();
                        $('#byyear').show();
                    }
                });
            </script>
